@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #f97316;
  --font-sans: Inter, sans-serif;
}

body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-800);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}